PORT=#PORT
MONGO_URI=CONNECTION_STRING
NODE_ENV=development
KEY_ENCRYPTION_SECRET=ENCRYPTION_SECRET# HTTPS (set true and provide PEM paths)
HTTPS=false
HTTPS_KEY_PATH=./certs/localhost-key.pem
HTTPS_CERT_PATH=./certs/localhost.pem
JWT_SECRET=CHANGE_ME
